html{
    background: ;
    font-family:宋体;
    color: #FFFFFF;
}
body{
    background: url("./images/2.5D.png");
    background-size: cover;
    background-attachment: fixed;
}
.left {
    background-color: #ebd78a;
    width: 15%;
    height: 100%;
    float: left;
    color: #000000;
    opacity: 80%;
}
.main{
    width:65%;
    background-color: #004700;
    opacity: 80%;
    float:left;
    height: 100%;
}
.right{
    background-color: #000064;
    width: 20%;
    float: right;
    height: 100%;
    opacity: 75%;
}
p .plan0{
    font-size: 18px;
    font-family: cursive;
}

h3 {
    color: #ebd78a;
    
}
h3.title{
     style="color:#000000"
}
span {
    font-weight: bolder;
    color: #00FF00;
}
a:link {
	color:blue;
	text-decoration:none;
}
a:visited {
	color:black;
	text-decoration:none;
}
a:hover {
	color:red;
	text-decoration:none;
}
a:active {
	color:black;
	text-decoration:none;
}
aside {
    width: 20%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #FFFF00;
    font-style: italic;
    color: #FFFF00;
}
aside > p {
    margin: .5rem;
}
figure {
    margin: 0;
}
blockquote{
    margin: 0;
}
blockquote p{
    padding: 15px;
    background: #000000;
    border-radius: 5px;
}
blockquote p::before {
    content:'\201C';
}
blockquote p::after {
    content:'\201D';
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
